<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/profile.css">
    <title>Profile</title>
</head>
<body>
<div id = "cover"></div>
<img  id = "img" src = "data:image/png;base64,<%= (res[0].photo).toString('base64') %>">
<label for = "file" id = "labelfile"><img src = "/images/camera.png" id = "camera"></label>
<input type="file" name = "file" id = "file">
<div id = "alldata">
<div id = "personaluserdata">
<h1 id = "first_name: "> first name : <%= res[0].first_name%></h1>
<h1 id = "last_name: ">last name : <%= res[0].last_name%></h1>
<h1 id = "email: ">email : <%= res[0].email%></h1>
<h1 id = "status: ">status : <%= res[0].status%></h1>
</div>
<div id = "stddata">
<h1>enrollments</h1>
<%if (res[0].status == "student"){%>
<% for(let i = 0;i<res.length;i++){%>
    
    <div class = "divstddata">
        <h3>
          numero months : <%= res[i].num_months%>
          
        </h3>
        <h3>
            course = <%= res[i].label%>
        </h3>
        <h3>
            service = <%= res[i].label_serv%>
        </h3>
        <h3>
            num Groupe = <%= res[i].group_id%>
        </h3>

    </div>
<%}%>
<%}%>
<%if (res[0].status == "professor"){%>
    <% for(let i = 0;i<res.length;i++){%>
        
        <div class = "divstddata">
            <h3>
              numero months : <%= res[i].num_months%>
              
            </h3>
            <h3>
                course = <%= res[i].label%>
            </h3>
            <h3>
                service = <%= res[i].label_serv%>
            </h3>
            <h3>
                num Groupe = <%= res[i].group_id%>
            </h3>
    
        </div>
    <%}%>
    <%}%>
</div>

</div>
<script>
    let a = document.getElementById("img");
    let b = document.getElementById("file");
   
    b.onchange = function(){
    //     console.log(b.files[0].path)
    //     a.src = URL.createObjectURL(b.files[0]);
    //     photodata = {photo:b.files[0].path}
    //     fetch('/photourl', {
    //     method: 'POST',
    //     headers: {
    //         'Content-Type': 'application/json'
    //     },
    //     body: JSON.stringify(photodata)
    // })
    const file = b.files[0];
            const reader = new FileReader();

            reader.onload = function (event) {
                const dataUrl = event.target.result; // Base64-encoded image data URL
                a.src = dataUrl;
                console.log(dataUrl)

                // Send the data URL to the server
                const photodata = { photo: dataUrl };
                fetch('/photourl', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(photodata)
                });
            };

            reader.readAsDataURL(file); // Read the file as a data URL
        };
     

    </script>
</body>
</html>